.main{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    // margin-top:10%;
    height:86vh;
        .waste{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            
        }
        .button{
            display:flex;
            align-items: center;
            justify-content: center;
            
            margin-top:1%;
                a{
                    text-decoration: none;
                    color:white;
                }
        }
}