.main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height:83vh;
    color:white;
        .waste{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            
        }
        .button{
            display:flex;
            align-items: center;
            justify-content: center;
            
            margin-top:1%;
                a{
                    text-decoration: none;
                    color:white;
                }
        }
}

.about{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom:100px;
        .aboutsec{
            display:flex;
            align-items: center;
            height:10vh;
        
        }
        .explain{
            text-align: center;
            display:flex;
            justify-content: space-between;
            
            
        .buis, .volun, .deli {
            width:30%;
            
            }
            h2{
                margin-bottom:3%;
                text-align: center;
            }
        }
}