.morerem{
    font-size:5rem;
}

span{
    display:flex;
    margin-bottom:5%;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height:83vh;
    color:white;
        .waste{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            p{
                text-align: center;
            }
        }
        .button{
            display:flex;
            align-items: center;
            justify-content: center;
            .buttonStyle(1px; solid; grey;);
            background:white;
            margin-top:1%;
            padding:.5% 2%;
                a{
                    text-decoration: none;
                    color:#3d4d41;
                    
                }
        }
}

#about{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom:10%;
        .aboutsec{
            display:flex;
            align-items: center;
            height:10vh;
        
        }
        .explain{
            text-align: center;
            display:flex;
            justify-content: space-between;
            @media @phone{
                flex-flow:column;
                align-items: center;
                
}
            a{
                .buttonStyle(1px; solid; grey;);
                color:#3d4d41;
                text-decoration: none;
                padding:2% 4%;
                background: white;
                margin-top:5%;
                display:inline-block;
            }
            
        .buis, .volun, .deli {
            width:30%;
            @media @phone{
                width:70%;
                margin-top:10%;
}
            }
            h2{
                margin-bottom:3%;
                text-align: center;
            }
        }
}


.contact{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow: column wrap;
    margin-bottom:10%;
    .contact-form{
        margin-top:5%;
        
        .center-button{
            display:flex;
            justify-content: center;
            align-items: center;
            
            
        }
    }
    .form-control{
        width:50vw;
        background:transparent;
        border:none;
        outline:none;
        border-bottom:1px solid grey;
        color:black;
        margin-bottom:16px;
    }
    input{
        height:45px;
    }

    .submit{
        background:white;
        color:#3d4d41;
        .buttonStyle(1px; solid; grey;);
        width:30%;
        @media @phone{
            width:60%;
}
    }
}