.container{
    .meet{
        display:flex;
        justify-content: center;
        align-items:center;
        height:20vh;
    }
    .pictures{
        display:flex;
        justify-content: space-around;
        align-items:center;
        flex-flow: row wrap;
        margin-bottom:10vw;
        div{
            width:25%;
            height: 20%;
            display: flex;
            justify-content: space-around;
            flex-flow: column;
            align-items: center;
            padding-bottom:3%;
            @media @phone{
                width:40%;
                padding:3%;
                text-align: center;
}
            a{
                text-decoration: none;
                color:black;
            }
            h3{
                margin-top:3%;
                text-align: center;
            }
            img{
                width:50%;
                height:200px;
                @media @phone{
                    width:100%;
    }
            }
        }
    }
}